.background-black {
    color: black;
}

.background-red {
    color: red;
}

.background-white {
    color: white;
}

.background-yellow {
    color: yellow;
}

.content {
    margin-left: 2%;
    margin-right: 2%;
}

label {
    width: 100%;
}

.image-left {
    width: 80%;
}

.upload:hover,
a:hover {
    cursor: pointer;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

